@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

.font-lobster{
    font-family: 'Lobster', cursive;
}
.font-playball{
    font-family: 'Playball', cursive;
}
.font-rubikvinyl{
    font-family: 'Rubik Vinyl', cursive;
}